@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

//Colors
$whiteGrey : #F4F5F6;
$darkBlue: #495D69;
$black: #0C0D0D;
$white: #FFFFFF;

*{
	padding: 0;
	margin: 0;
	transition: 0.3s;
	box-sizing: border-box;
}

body{
	font-family: Montserrat;
	background: $whiteGrey;
}

//Mixins
@mixin commonTraits($bg, $wid, $hei, $pard,) {
	background: $bg;
	width: $wid;
	height: $hei;
	padding: $pard;
}

#root{
	position: relative;
}

.shadow{
	box-shadow: 0px 0px 7px lighten($darkBlue, 50%);
}

.shadow-md{
	box-shadow: 0px 3px 7px lighten($darkBlue, 40%);
}

.Done:hover{
	background: darken($white, 13%);
}


//Designing the wrapper
.wrapper{
	@include commonTraits(rgba(0,0,0,0.65), 100%, 800px, 0);
	position: absolute;
	top: 0;
	overflow: hidden;
}

.wrapper.delte{
	display: flex;
	justify-content: center;
	align-items: center;
}

.newTodo{
	@include commonTraits($white, 50%, 0 auto, 25px);
	margin: 4% auto;
	border-radius: 4px;
	padding-bottom: 60px;
	color: $black;
	position: relative;

	.Close{
		position: absolute;
		right: 25px;
		cursor: pointer;
		font-size: 1.4em;
		font-weight: bold;	
	}

	h1{
		font-size: 1.3em;
		padding: 15px 0px 25px 0px;
		font-weight: bold;
	}

	label{
		display: block;
		font-weight: bold;
		margin: 7px 0;
		font-size: 0.7em;
	}

	.fileWrapper{
		@include commonTraits($whiteGrey, 50%, 100px, '');
		background: $whiteGrey;
		color: darken($whiteGrey, 30%);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		position: relative;
		font-family: Montserrat, sans-serif;
		border-radius: 6px;
		font-size: 0.75em;
		word-break: break-all;

		input{
			position: absolute;
			right: 0;
			height: 0;
			top: 0;
			bottom: 0;
			min-height: 100%;
			opacity: 0;
			cursor: pointer;
		}
	}

	input{
		@include commonTraits($whiteGrey, 100%, 40px, 12px);
		border: none;
		border-radius: 6px;
		font-family: Montserrat, sans-serif;
		font-size: 0.75em;
		
		&:focus{
			background: $white;
		}
	}

	textarea {
		@extend input;
		max-width: 100%;
		min-height: 70px;
	}

	select {
		@extend input;
	}

	button{
		background: $black;
		border-radius: 3px;
		padding: 12px 30px;
		border: none;
		color: $whiteGrey;
		position: absolute;
		right: 0px;
		cursor: pointer;

		&:hover{
			background: lighten($black, 10%);
		}
	}
}

.deleteTodo{
	@extend .newTodo;
	width: 30%;
	margin-top: 16%;

	h1{
		padding: 12px 0;
	}

	p{
		padding: 12px 0;
		margin-bottom: 12px;
		color: $darkBlue;
	}

	button{
		position: absolute;
		left: 12px;
	}

	p.cancer{
		position: absolute;
		right: 35px;
		font-weight: bold;
		font-size: 0.8em;
		cursor: pointer;
	}
}


.wrapper.close{
	display: none;
}

.searchBox{
	display: flex;
	align-items: center;
	overflow: hidden;
	border-radius: 6px;
	height: 35px;
	flex: 0 0 auto;
	margin-right: 10px;

	input{
		background: $whiteGrey;
		border: none;
		flex: 1 1 auto;
		height: 35px;
		padding: 12px;
		padding-left: 34px;

		&:focus{
			background: $white;
			border: 1px solid $black;
		}
	}

	button{
		background: $darkBlue;
		color: $white;
		font-weight: bold;
		height: 35px;
		border: none;
		flex: 0 0 auto;
		padding: 0 20px;
		cursor: pointer;
	}
}

.priorities{
	position: absolute;
	background: $white;
	height: auto;
	top: 0;
	right: 9%;
	border-radius: 4px;
	padding: 12px;

	h1{
		font-size: 0.7em;
		padding: 12px 6px;
		text-align: center;
		border-bottom: 1px solid $whiteGrey; 
		margin-bottom: 5px;
	}

	p{
		font-size: 0.65em;
		padding: 6px;
		cursor: pointer;
		font-weight: bold;
		color: $darkBlue;

		&:hover{
			color: $black;
		}
	}
}

.elements{
	@include commonTraits($white, 70%, 700px, 0);
	border-radius: 4px;
	margin: -160px auto 2% auto;
}

.blackCont{
	@include commonTraits(#1C2834, 100%, 230px, 0);
}

.rightMenu{
	flex: 0 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo{
	flex: 1 1 auto;

	img{
		width: 30px;
	}
}

button.theButton{
	background: $black;
	color: $whiteGrey;
	border: none;
	border-radius: 4px;
	min-width: 120px;
	padding: 12px 25px;
	margin: 0 2%;
	font-weight: bold;
	cursor: pointer;
	font-size: 0.65em;

	&:hover{
		background: $darkBlue;
	}
}

button.delete{
	@extend button.theButton;
	background: maroon;
	margin: 4% auto 0 auto;
	display: block;
}

.filterCont{
	@include commonTraits($whiteGrey, 60px, 35px, '');
	border-radius: 4px;
	margin-right: 24px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}

.Header{
	padding: 20px;
	display: flex;
	align-items: center;
}

.Header-read{
	padding: 20px;
	display: flex;
	align-items: center;
	position: relative;

	img{
		width: 30px;
	}

	span{
		position: absolute;
		right: 30px;
		font-weight: bold;
		font-size: 1.5em;
		top: 25px;
		cursor: pointer;
	}
}

.Menu{
	background: $whiteGrey;
	padding: 50px 12px;
	display: flex;
	justify-content: space-around;
	overflow-x: auto;
	position: relative;
}

.singleMenu{
	background: $white;
	padding: 12px;
	border-radius: 4px;
	width: 130px;

	h1{
		color: #C1CF16;
		font-size: 1.5em;
	}

	p{
		font-weight: bold;
		color: $black;
		font-size: 0.6em;
	}
}

.Empty{
	margin: 14% auto;
	text-align: center;
	font-weight: bold;

	h1{
		color: $black;
		font-size: 0.7em;
		padding: 6px;
	}

	p{
		font-size: 0.65em;
		color: $darkBlue;
	}
}

.Contents{
	@include commonTraits('', 100%, 475px, '');
	overflow-y: auto;
	padding: 20px;
	padding-right: 20px;
	box-sizing: border-box;

	//Make Scroll
	&::-webkit-scrollbar {height: 7px; width: 7px;}
	::-moz-scrollbar {height: 7px; width: 7px;}
	&::-o-scrollbar {height: 7px; width: 7px;}
	&::scrollbar {height: 7px; width: 7px;}

	&::-webkit-scrollbar-track {background: $whiteGrey;}
	&::-moz-scrollbar-track {background: $whiteGrey;}
	&::-o-scrollbar-track {background: $whiteGrey;}
	&::scrollbar-track {background: $whiteGrey;}

	&::-webkit-scrollbar-thumb {background: $darkBlue;}
	&::-moz-scrollbar-thumb {background: $darkBlue;}
	&::-o-scrollbar-thumb {background: $darkBlue;}
	&::scrollbar-thumb {background: $darkBlue;}

	&::-webkit-scrollbar-thumb:hover {background: #1C2834;}
	&::-moz-scrollbar-thumb:hover {background: #1C2834;}
	&::-o-scrollbar-thumb:hover {background: #1C2834;}
	&::scrollbar-thumb:hover {background: #1C2834;}

	h1{
		color: $darkBlue;
		padding: 20px;
		padding-bottom: 10px;
		font-weight: bold;
		font-size: 1.6em;
	}
}

.priorities.close, .hide_read{
	display: none;
}




//RESPONSIVENESS
@media screen and (max-width: 768px) {
	.elements{
		width: 98%;
		margin-top: -220px;

		.Header{
			.logo{
				flex: 1fr;
				margin-right: 10px;
			}

			.rightMenu{
				flex: 1fr;

				.filterCont{
					margin-right: -5px;
				}

				.theButton{
					flex: 30px;
					position: absolute;
					top: 84px;
					left: -7px;
					width: 10px;
					z-index: 2;
				}
			}
		}
	}

	.searchBox{
		width: 200px;

		button{
			display: none;
		}
	}


	.deleteTodo, .newTodo{
		width: 95%;
		z-index: 3;
	}

	.Menu{
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
		grid-column-gap: 15px;
		grid-row-gap: 20px;
		justify-item: center;
	}

	.fileWrapper{
		width: 95%;
	}
}